# Completar con datos correspondientes de PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=database_name
DB_USER=postgres_user
DB_PASSWORD=your_password

DATA_FILE= file_location

# Raw Data Folder

DATA_FOLDER=data_raw

# Source datasets
DATA_FILE=Salario-promedio-por-departamento.xlsx
IPC_FILE=indice-precios-al-consumidor-nivel-general-base-diciembre-2016-mensual.csv
CLAE_FILE=clae_agg.csv
PUESTOS_FILE=puestos_priv.csv
SALARIO_CLAE_FILE=w_mean_privado_mensual_por_clae2.csv